{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "gh"
brew "direnv"
brew "zsh"
brew "zsh-syntax-highlighting"
brew "tmux"
brew "neovim"
brew "hledger"

cask "chromedriver", args: { appdir: "/Applications" }
cask "firefox", args: { appdir: "/Applications" }
cask "iterm2", args: { appdir: "/Applications" }
cask "setapp", args: { appdir: "/Applications" }
cask "1Password", args: { appdir: "/Applications" }
cask "Signal", args: { appdir: "/Applications" }
cask "WhatsApp", args: { appdir: "/Applications" }
cask "Omnifocus", args: { appdir: "/Applications" }
cask "Canva", args: { appdir: "/Applications" }
cask "Element", args: { appdir: "/Applications" }
EOF
{{ end -}}
