{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "git"
brew "gh"
brew "direnv"
brew "zsh"
brew "zsh-syntax-highlighting"
brew "zsh-autosuggestions"
brew "tmux"
brew "neovim"
brew "mise"
brew "fzf"
brew "ripgrep"
brew "fd"
brew "bat"
brew "eza"
brew "delta"
brew "lazygit"
brew "httpie"
brew "jq"
brew "tree"
brew "watch"
brew "tldr"

cask "chromedriver", args: { appdir: "/Applications" }
cask "firefox", args: { appdir: "/Applications" }
cask "iterm2", args: { appdir: "/Applications" }
cask "warp", args: { appdir: "/Applications" }
cask "setapp", args: { appdir: "/Applications" }
cask "1Password", args: { appdir: "/Applications" }
cask "Signal", args: { appdir: "/Applications" }
cask "WhatsApp", args: { appdir: "/Applications" }
cask "Omnifocus", args: { appdir: "/Applications" }
cask "Canva", args: { appdir: "/Applications" }
cask "Element", args: { appdir: "/Applications" }
cask "visual-studio-code", args: { appdir: "/Applications" }
cask "git-credential-manager", args: { appdir: "/Applications" }
cask "docker", args: { appdir: "/Applications" }
cask "raycast", args: { appdir: "/Applications" }
cask "obsidian", args: { appdir: "/Applications" }

EOF
{{ end -}}
