{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Brewfile checksum (triggers re-run when Brewfile changes):
# {{ include "dot_Brewfile" | sha256sum }}

set -euo pipefail

brew bundle --global

{{- end }}
